<div class="attr-edit">
    <div class="attr-row">
		<span>
			<div class="attr-label">
                仪表盘标题
            </div>
		</span>
        <input class="treeText treeTextmg" name="chartTitle" value="{{chartTitle}}" />
    </div>
    <div class="attr-row">
		<span>
			<div class="attr-label">
                X轴
            </div>
		</span>
        <input class="treeText treeTextmg" name="xAxistitle" value="{{xAxistitle}}" />
    </div>
    <div class="attr-row">
		<span>
			<div class="attr-label">
                Y轴
            </div>
		</span>
        <input class="treeText treeTextmg" name="yAxistitle" value="{{yAxistitle}}" />
    </div>
    <div class="attr-row">
		<span>
			<div class="attr-label">
                边距
            </div>
		</span>
        <input class="treeText treeTextmg" name="offset" value="{{offset}}" />
    </div>
    <div class="attr-row">
		<span>
			<div class="attr-label">
                数据源
            </div>
		</span>
        <input class="treeText treeTextmg" name="datasource" value="{{datasource}}" />
    </div>
    <div class="attr-row">
		<span>
			<div class="attr-label">
                刷新间隔
            </div>
		</span>
        <input class="treeText treeTextmg" name="interval" value="{{interval}}" />
    </div>
</div>