
<li>
	<p>对象搜索</p>
</li>
<li class="schLi">
	<input type="text" class="treeText" name="searchcell" /> <button class="topSchBtn" name="searchcellBtn">搜索</button>
</li>
<li>
	<p>路径搜索</p>
</li>
<li class="schLi">
	<input type="text" class="treeText" name="fromCell" />
	<br/>
	<input type="text" class="treeText" name="targetCell" style=" margin-top:4px;"/>
	<button class="topSchBtn" name="searchPath">搜索</button>
</li>
<li class="external">
	<input type="button" name="clearSearchResult" class="btn green" value="清除搜索结果" />
</li>