<form class="form-horizontal" role="form">
	<div class="form-body">
		<div class="form-group">
			<label class="col-md-offset-1 col-md-3 control-label">起始节点</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="startNode" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-offset-1 col-md-3 control-label">目标节点</label>
			<div class="col-md-6">
				<input type="text" class="form-control" id="endNode" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-6 col-md-offset-4">
				<button class="btn blue btn-block" id="searchPathBtn">
					<i class="fa fa-search"></i>
					搜索
				</button>
			</div>
		</div>
	</div>
</form>