
<div class="row">
	<div class="col-md-6">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li class="active"><a href="#privateTab" role="tab" data-toggle="tab">私有位置</a></li>
			{{#if isAdmin}}
			<li><a href="#publicTab" role="tab" data-toggle="tab">公有位置</a></li>
			{{/if}}
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active clearfix" id="privateTab">
				<button class="create-fold-btn btn btn-primary btn-xs mb20 pull-right">创建文件夹</button>
				<div class="tree-main"></div>
			</div>
			{{#if isAdmin}}
			<div class="tab-pane clearfix" id="publicTab">
				<button class="create-fold-btn btn btn-primary btn-xs mb20 pull-right">创建文件夹</button>
				<div class="tree-main"></div>
			</div>
			{{/if}}
		</div>

	</div>
	<div class="col-md-6">
		<div class="form-group">
			<label for="viewname">视图名称</label>
			<input type="text" name="viewname" class="treeText form-control" id="viewname" placeholder="" />
		</div>

		<div class="form-group">
			<label for="timeState">生效时间</label>
			<select class="form-control" id="timeState">
				<option value="0">一直</option>
				<option value="1">选择时间段</option>
			</select>
		</div>

		<div class="form-group">
			<input type="text" name="reservation" id="reservationtime" value="2014-05-20 - 2014-06-20"  class="span4 form-control"/>
		</div>
	</div>
</div>


