
<div class="graphbox">
	<div class="graphcontainer"></div>
	<div class="mask"></div>
	<div class="tips clearfix">
		<div class="info">
			<button class="btn btn-success">
				{{name}}
			</button>
			<button class="btn btn-warning">
				{{_category_}}
			</button>
		</div>
		<div class="btn-group tools">
			<button action="remove" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="{{tip}}">
				<i  class=" fa fa-trash-o"></i>
			</button>
			<button action="full" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="全屏">
				<i  class=" fa fa-arrows-alt"></i>
			</button>
		</div>
	</div>
</div>