<div class="form-horizontal">
	<div class="form-body">
		<div class="form-group">
			<label class="col-md-3 radio-list"><div class="radio"><span class="checked"><input type="radio" name="selectType"  value="color" checked></span></div> 选择颜色</label>
			<div class="col-md-9">
				<input id="selectColor" class="form-control" type="text" value="{{color}}"  />
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-3 radio-list"><div class="radio"><span><input type="radio" name="selectType"  value="none"></span></div> 没有颜色</label>
			<div class="col-md-9">
				<input class="form-control" type="text" value="none" readonly  />
			</div>
		</div>
	</div>
</div>
