<div id="spinner4" class="text-center">
	<div class="input-group" style="width:150px;">
		<div class="spinner-buttons input-group-btn">
			<button type="button" class="btn spinner-down red">
				<i class="fa fa-minus"></i>
			</button>
		</div>
		<input type="text" id="opacityInput" class="spinner-input form-control" maxlength="3" readonly>
		<div class="spinner-buttons input-group-btn">
			<button type="button" class="btn spinner-up blue">
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>
</div>
