<div class="modal fade dialog-modal" id="dialog-{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{title}}</h4>
			</div>
			<div class="modal-body clear">
				{{{ html }}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary dialog-btn-ok">确定</button>
			</div>
		</div>
	</div>
</div>
