
<div style="overflow-x: auto;">
	<div class="row">
		<div class="col-md-12">
			<h4>交易类型</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<form class="form" role="form">
				<div class="checkbox">
					<label>
						<input type="checkbox">
					</label>
					<label>交易</label>
					<label>交易</label>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>threshold1</th>
					<th>threshold2</th>
					<th>threshold3</th>
					<th>threshold4</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
				</tr>
				<tr>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
				</tr>
				<tr>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
				</tr>
				<tr>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
					<td>(80,80)</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

