<table>
	<tr>
		<th width="15"></th>
		<th>应用开发人员</th>
		<th>应用系统等级</th>
		<th>应用编号</th>
		<th>所属单位</th>
		<th>所属部门</th>
		<th>状态</th>
		<th>系统经理</th>
		<th>配置项名称</th>
		<th>配置项描述</th>
		<th>配置项编号</th>
		<th>配置项责任人</th>
	</tr>
	{{#each list}}
	<tr>
		<td>{{add @index}}</td>
		<td>{{应用开发人员}}</td>
		<td>{{应用系统等级}}</td>
		<td>{{应用编号}}</td>
		<td>{{所属单位}}</td>
		<td>{{所属部门}}</td>
		<td>{{状态}}</td>
		<td>{{系统经理}}</td>
		<td>{{配置项名称}}</td>
		<td>{{配置项描述}}</td>
		<td>{{配置项编号}}</td>
		<td>{{配置项责任人}}</td>
	</tr>
	{{/each}}
</table>